<div class="row">
  <div class="col-md-9">
    <div class="table-responsive">
      <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
        <tbody>
        <tr>
          <td>
            <a  href="javascript:void(0)">
              <img src="/assets/qq.png" class="avatar-2 rounded-circle">
            </a>
          </td>
          <td>
            <span>
              15 /
              <small class="text-muted">
                <small>1478</small>
              </small>
            </span>
          </td>
          <td>
            <span class="badge badge-success">置顶</span>
          </td>
          <td>
            <a  href="javascript:void(0)">
              Node 地下铁第七期「深圳站」线下沙龙邀约 - Node.js 新生态
            </a>
          </td>
          <td>
            <img src="/assets/qq.png" class="avatar-1 rounded-circle">
          </td>
          <td>
            12分钟前
          </td>
        </tr>
        <tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        客户端地址
      </div>
      <div class="card-body text-center">
        <qr-code [value]="'All QR Code data goes here!'" [size]="150" class="mw-100"></qr-code>
        <p class="small text-muted my-3">客户端源码地址</p>
      </div>
    </div>
  </div>
</div>



